.auctionsContainer {
    margin: 50px 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.auctionsContainer::-webkit-scrollbar {
    display: none;
}

.auctionsHeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.headingContainer {
    margin: 90px 0;
    text-align: center;
}

.heading {
    margin: 0 5px 0 0;
    color: var(--light-grey);
    font-size: 1.5rem;
}

.ctaContainer {
    width: 130px;
    margin: 0 auto 50px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--light-purple);
}

.cta,
.ctaIcon {
    margin: 0 5px;
    color: var(--purple);
    font-size: .9rem;
    text-align: center;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background: var(--purple);
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(123, 2, 236, 0.521);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(86, 19, 211, 0);
    }
}

@media screen and (max-width: 760px) {
    .auctionsContainer {
        justify-content: flex-start;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
}